*{
    margin: 0px;
}
body{
    
    background-color: rgb(238, 238, 225);
}
.user{
    padding: 10%;
    width: 100%;
    display: flex;
}
.user .confirm{
    width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(218, 214, 214);
    font-family:Arial, Helvetica, sans-serif;
}
.user .confirm .image{
    width: 20%;
    height: auto;
}
.user .confirm .image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}
.user .confirm .text{
    width: 70%;
    height: auto;
}
.user .confirm .text h2{
    font-size: 20px;
    color: rgb(31, 30, 30);   
    margin-bottom: 3px;
}
.user .confirm .text p{
    font-size: 13px;
    font-weight: 200;
    color: rgb(78, 78, 78);
}   
.user .confirm .btn{
    width: 100%;
}
.user .confirm .btn .accept{
    border:none;
    padding: 10px;
    color:white;
    font-weight: 600;
    background-color: rgb(62, 126, 211);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
}
.user .confirm .btn .refuse{
    border:1px solid rgb(165, 159, 159);
    padding: 10px;
    color:rgb(0, 0, 0);
    background-color:white;
    border-radius: 5px;
    margin-top: 10px;
}
.user .confirm .btn .accept:hover{
    cursor: pointer;
    border:2px solid rgb(165, 159, 159);
    color:rgb(0, 0, 0);
    background-color:white;
    transition: .2s;
}
.user .confirm .btn .refuse:hover{
    border:none;
    color:white;
    font-weight: 600;
    background-color: rgb(240, 56, 56);
    cursor: pointer;
    transition: .2s;
}


/*Home page------------------------------------*/
.Home{
    padding: 5% 10%;
    background-image: linear-gradient(to left, rgb(203, 184, 240),rgb(209, 245, 212),rgb(245, 240, 173));
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Home .left{
    width: 50%;
    height: auto;
    margin-top: 5%;
}
.Home .left .autor{
    font-size: 17px;
    font-weight: 700;
    color: rgb(60, 76, 167);
}
.Home .left h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    margin:20px 0px;
    margin-top: 5px;
    color:rgb(53, 55, 75);
}
.Home .left .descript{
    font-size: 20px;
    font-weight: 500;
    color: rgb(104, 104, 100);
    margin-bottom: 20px;
}
.Home .left .descript #txtplus{
    display: none;
}
.Home .left .descript #btnplus{
    color: rgb(60, 76, 167);
}
.Home .left .descript #btnplus:hover{
    cursor: pointer;
    color: rgb(85, 146, 216);
}
.Home .left .begin{
    border: none;
    background-color: rgb(53, 55, 75);
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 15px;
    font-size: 15px;
    margin-right: 5px;
    transition: .5s;
    animation: directionR 2s;
}

.Home .left .begin:hover{
    cursor:pointer;
    border: 1px solid rgb(177, 175, 175);
    background-color: transparent;
    color: rgb(56, 55, 71);
    font-weight: 550;
    transition: .3s ease-out;
}
.Home .left .doc{
    border: 1px solid rgb(177, 175, 175);
    background-color: transparent;
    border-radius: 10px;
    color: rgb(56, 55, 71);
    font-weight: 550;
    padding: 15px;
    font-size: 15px;
    margin-right: 5px;
    transition: .5s;
    animation: directionL 2s;
}
.Home .left .doc:hover{
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgba(58, 61, 78, 0.493);
    color: white;
    font-weight: 600;
}
.Home .right{
    width: 50%;
    height: auto;
}
.Home .right svg{
    width: 100%;
}


@keyframes directionL{
    from{
        transform: translatex(0px);
        background-color: rgba(119, 134, 219, 0.493);
        color: white;
    }
    to{
        transform: translatex(20px);
    }
}
@keyframes directionR{
    from{
        transform: translatex(20px);
    }
    to{
        transform: translatex(0px);
        background-color: transparent;
        border: 1px solid rgb(85, 146, 216);
        color: rgb(56, 55, 71);
    }
}